table a {
  text-decoration: none;
}
select.selezione-tipo {
  width: 100px;
  display: inline-block;
}
dl {
  display: flex;
  flex-flow: row wrap;
  /*
    padding: 0.5em;
  */
}
dt {
  flex-basis: 15%;
  margin-left: 1em;
  padding: 2px 2px;
  /*
    background: #333;
    text-align: right;
    color: #fff;
    -------
    float: left;
    clear: left;
    width: 10ex;
    margin-left: 2ex;
    font-weight: bold;
    text-align: right;
    color: green;
  */
}
dd {
  flex-basis: 80%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 2px;
  /*
    border-bottom: 1px solid #333;
    -------
    margin-left: 13ex;
    margin: 0 0 0 13ex;
    padding: 0 0 0.5em 0;
*/
}
